services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
 
  backend:
    build: ./backend
    container_name: backend
    env_file: ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - mongo
 
  frontend:
    build: ./dive-react-app
    container_name: frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
 
volumes:
  mongo_data:
